<header id="site-masthead" class="site-masthead">
  <div class="header-size">
    <!-- Logo Section -->
    <div class="header-logo">
      <a href="https://bioconductor.org">
        <img
          src="/images/bioconductor-logo.svg"
          class="masthead-logo"
          alt="Bioconductor Training Home"
        />
      </a>
    </div>

    <!-- Navigation Section -->
    <nav class="header-nav">
      <div class="nav-links">
        <a class="format-bold mobile-link" href="/">Home</a>
        <a class="format-bold mobile-link" href="/resources/resources.html">Resources</a>
        <a class="format-bold mobile-link" href="/workshops/2025-03-Nairobi/index.html">Workshops</a>
        <div class="dropdown">
          <a class="format-bold mobile-link" href="/carpentry/index.html">Carpentry</a>
          <div class="dropdown-content">
            <a href="/carpentry/instructors.html">Instructors</a>
            <a href="/carpentry/workshops.html">Workshops</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Mobile Navigation -->
    <div class="nav-mobile">
      <h6>Menu</h6>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</header>
