.breadcrumbs {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  color: var(--neutral-n400);
}

.breadcrumbs li {
  padding-left: 0 ;
}

.breadcrumbs li:not(:first-of-type) {
  background-image: url("/images/icons/svgs/chevron-right-n400.svg");
  background-repeat: no-repeat;
  padding-left: 1.625rem; /* make space for the background image */
}

.breadcrumbs li:last-of-type {
  font-weight: bold;
}

.breadcrumbs a {
  color: var(--neutral-n400);
  text-decoration: none;
}

.breadcrumbs li::marker {
  content: none;
}
