ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
  padding-left: 8px;
}

ul li::marker {
  color: var(--primary);
  font-size: 0.8rem;
}

li:has(p) {
  margin-left: 1rem;
}

li:has(p)::before {
  margin-left: -1.1rem;
}

.inline_list ul {
  list-style: none;
  padding: 0;
  padding-left: 10px;
}

.inline_list li {
  display: inline-block;
}

.inline_list li::before {
  content: "•";
  margin-right: 0.5rem;
}
