name: Render and Publish

on:
  push:
    branches: [devel]

env:
  cache-version: v1

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        
      # Install necessary system dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libudunits2-dev libgdal-dev libgeos-dev libproj-dev

      # Set up caching for R packages
      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ~/.R  # Directory where R packages are stored
          key: ${{ env.cache-version }}-${{ runner.os }}-R  # Static key
          restore-keys: |
            ${{ env.cache-version }}-${{ runner.os }}-R-

      # Add R dependencies
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R dependencies
        run: Rscript -e 'install.packages(c("evaluate", "rmarkdown", "readr", "tidyr", "reactable", "maps", "plotly", "ggplot2", "tidygeocoder", "countrycode"))'

      - name: Publish to GitHub Pages (and render)
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
